<div class="service-section">
    <h1>Título de la sección</h1>
    <div class="services-presentation-container">
      <div class="service-presentation-img-container">
        <img src="../assets/imgL1.PNG" class="service-presentation-img" alt="service1">
        <h2>Servicio 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="service-presentation-img-container">
        <img src="../assets/imgL2.PNG" class="service-presentation-img" alt="service2">
        <h2>Servicio 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="service-presentation-img-container">
        <img src="../assets/imgL3.PNG" class="service-presentation-img" alt="service3">
        <h2>Servicio 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="services-presentation-container">
      <div class="service-presentation-img-container">
        <img src="../assets/flecha.PNG" class="service-presentation-img" alt="flecha1">
      </div>
      <div class="service-presentation-img-container">
        <img src="../assets/lapso.PNG" class="service-presentation-img" alt="lapso">
      </div>
      <div class="service-presentation-img-container">
        <img src="../assets/flecha.PNG" class="service-presentation-img-invert" alt="flecha1">
      </div>
    </div>
    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <img src="../assets/ovalo.PNG" alt="ovalo">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>