<div class="banner-section">
    <div class="left-banner">
      <h1 class="left-banner-tittle">Título</h1>
      <p class="left-banner-parag">Contenido <a href="#">more professional|</a></p>
      <p class="left-banner-parag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at scelerisque justo. Suspendisse elit ante, condimentum eu dolor a, hendrerit molestie magna. In nulla quam</p>
      <div class="banner-left-buttons">
        <button mat-button class="banner-left-button-started large" color="primary">Get Started</button>
        <button mat-icon-button class="banner-left-button-play large">
          <mat-icon>play_arrow</mat-icon>
        </button>
        Play Video
      </div>
    </div>
    <div class="right-banner">
      <img class="banner-section-img" alt="banner-img" src="../assets/Captura.PNG" />
    </div>
  </div>
  <div class="banner-help">
    <button mat-button class="banner-help-button large" color="primary"><strong>¿Necesitas ayuda?</strong></button>
  </div>